{% extends "app/base.html" %}
{% block title %}タスクの新規作成{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-5">タスクの新規作成</h1>
    <form method="POST">
        <fieldset>
            <legend>タスクの作成</legend>
            {% csrf_token %}
            <label class="label" for="name">タスク名</label>
            <input id="name" type="text" name="name" />

            <label class="label" for="notes">メモ</label>
            <textarea rows="3" id="notes" name="notes" placeholder="メモを記載"></textarea>
        </fieldset>

        <input type="hidden" id="status" name="status" value="false" />
        <input type="hidden" id="pub_date" name="pub_date" value="2000-01-01" />

        <button type="submit">作成</button>
    </form>
</div>

<style>
    form label {
        display: block;
    }
</style>
{% endblock %}
