<div class="row">
    <div class="col-3">
        <p>タスク名</p>
    </div>
    <div class="col-9">
        <p>{{ task.name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>進捗</p>
    </div>
    <div class="col-9">
        <p>{{ task.progress }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>ステータス</p>
    </div>
    <div class="col-9">
        <p>{{ task.status }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>優先度</p>
    </div>
    <div class="col-9">
        <p>{{ task.priority }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>メモ</p>
    </div>
    <div class="col-9">
        <p>{{ task.notes|linebreaksbr }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>登録日</p>
    </div>
    <div class="col-9">
        <p>{{ task.pub_date|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
